<div class="candidate-details">
  <h4>Candidate: {{candidate.name || 'New'}}</h4>
  <div class="content-row">
    <div [formGroup]="form">
      <div class="control-column">
        <label for="name">Name:</label>
        <input id="name" type="text" formControlName="name">
      </div>
      <div class="control-column">
        <label for="match"> Match:</label>
        <input id="match" type="number" step="0.5" min="0" max="5" formControlName="match">
      </div>
      <div class="control-column-double">
        <label for="position">Position:</label>
        <input id="position" type="text" formControlName="position">
      </div>
      <div class="control-column-double">
        <label for="contract">Contract Jobs: </label>
        <input id="contract" type="checkbox" formControlName="contract">
      </div>
      <div class="control-column-double">
        <label for="available">Available Immediately:</label>
        <input id="available" type="checkbox" formControlName="available">
      </div>
      <div class="control-column-double">
        <label for="skill-container">Skills:</label>
        <div id="skill-container" class="skill-container">
          <span class="skill-tag" [class.selected]="isTagSelected(s)"
                *ngFor="let s of skills" (click)="addSkillTag(s)">{{s.description}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="content-row-multi">
    <Button class="btn-primary" (click)="saveChanges()">
      <i class="fa fa-check"></i>
      <span> Save</span>
    </Button>
    <Button class="btn-danger" (click)="cancelChanges()">
      <i class="fa fa-remove"></i>
      <span> Cancel</span>
    </Button>
  </div>
</div>
