:host /deep/ .control-column {
  width: 50%;
  display: inline-block;
}
:host /deep/ .control-column input[type="number"] {
  width: 50px;
}
:host /deep/ .control-column-double {
  width: 100%;
  display: block;
}
:host /deep/ .control-column label, .control-column-double label {
  width: 150px;
}
:host /deep/ .control-column input[type="text"] {
  width: calc(50% - 65px);
}
:host /deep/ .control-column-double input[type="text"] {
  width: calc(50% - 170px);
}
:host /deep/ .content-row-multi {
  display: block;
  width: 100%;
  text-align: center;
}
:host /deep/ .content-row-multi button {
  margin-right: 20px;
}
:host /deep/ .candidate-details {
  margin-top: 30px;
}
:host /deep/ .fa {
  font-size: 1em;
}

h4 {
  border-bottom: 1px #666 solid;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
