.wrapper {
    width: 100%;
    margin: 60px 0;
}

.inner {
    padding-left: 50px;
}

h3 {
    padding-bottom: 12px;
    margin: 0 0 25px !important;
}

.move-right {
    margin-right: 10px;
}

.container.wrapper {
    width: 700px;
}

.wrapper2 {
    width: 450px !important;
}

.check-box {
  text-align: center;
}

.content-row {
  padding: 20px;
}

.skill-container {
  display: inline-block;
  max-width: 400px;
}

.skill-tag {
  display: inline-block;
  background-color: #c0c0c0;
  border-radius: 5px;
  color: #000;
  padding: 5px 10px;
  margin-right: 7px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 0.8em;
}

.skill-container .selected {
  background-color: darkslateblue;
  color: white;
}

