<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step label="Categories" state="categories">
    <div class="contents">
        <p>Select a Category to explore portfolios</p>
        <div class="card-container">
          <mat-card *ngFor="let c of categories" [class.selected]="c.selected" (click)="selectCategory(c)">
            {{c.categoryName}}
          </mat-card>
        </div>
    </div>
    <div class="stepper-buttons">
      <button class="mat-raised-button" mat-button matStepperNext (click)="loadPortfolios()">
        <mat-icon class="mat-icon">library_books</mat-icon>
        Portfolios
        <mat-icon class="mat-icon">arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step label="Portfolios" state="portfolios">
    <div class="contents">
      <p>Select one or more portfolios</p>
      <div class="card-container">
        <mat-card *ngFor="let p of portfolios" [class.selected]="p.selected" (click)="selectPortfolio(p)">
          {{p.portfolioName}}
        </mat-card>
      </div>
    </div>
    <div class="stepper-buttons">
      <button class="mat-raised-button" mat-button matStepperPrevious>
        <mat-icon class="mat-icon">arrow_left</mat-icon>
        <mat-icon class="mat-icon">playlist_add</mat-icon>
        Categories
      </button>
      <button class="mat-raised-button" mat-button matStepperNext>
        <mat-icon class="mat-icon">calendar_today</mat-icon>
        Cut-off Date
        <mat-icon class="mat-icon">arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step label="CutOffDate" state="cutOffDate">
    <div class="contents">
      <p>Select a cut-off Date</p>
      <div class="calendar-info-container">
        <mat-calendar #calendar [minDate]="today" [(selected)]="selectedDate">
        </mat-calendar>
      </div>
      <div class="calendar-info-container selected-date">
        <div>
          Selected Cut-off Date:
        </div>
        <div class="date">
          {{selectedDate  | date:'dd/MM/yyyy'}}
        </div>
      </div>
    </div>
    <div class="stepper-buttons">
      <button class="mat-raised-button" mat-button matStepperPrevious>
        <mat-icon class="mat-icon">arrow_left</mat-icon>
        <mat-icon class="mat-icon">library_books</mat-icon>
        Portfolio
      </button>
      <button class="mat-raised-button" mat-button matStepperNext (click)="loadLoans()">
        <mat-icon class="mat-icon">notes</mat-icon>
        Loans
        <mat-icon class="mat-icon">arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step label="Loans" state="loans">
    <div class="contents" *ngIf="!loading">
      <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
    </div>
    <div *ngIf="loading">
      <div class="loading-spinner-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        <div>
          Processing Loans...
        </div>
      </div>
    </div>
    <div class="stepper-buttons">
      <button class="mat-raised-button" mat-button matStepperPrevious>
        <mat-icon class="mat-icon">arrow_left</mat-icon>
        <mat-icon class="mat-icon">library_books</mat-icon>
        Portfolios
      </button>
    </div>
  </mat-step>
  <ng-template matStepperIcon="categories">
    <mat-icon class="mat-icon">playlist_add</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="portfolios">
    <mat-icon class="mat-icon">library_books</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="cutOffDate">
    <mat-icon class="mat-icon">calendar_today</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="loans">
    <mat-icon class="mat-icon">notes</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
